<%= form_for(@property) do |f| %>

<% if @property.errors.any? %>
  <div>
    <h2>There were some errors:</h2>

    <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= f.label :property_name, "Building Name" %><br>
    <%= f.text_field :property_name %>
  </div>

  <div>
    <%= f.label :street, "Street" %><br>
    <%= f.text_field :street %>
  </div>

  <div>
    <%= f.label :city, "City" %><br>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :year_built, "Year Built" %><br>
    <%= f.text_field :year_built %>
  </div>

  <div>
    <%= f.label :remodel_year, "Remodel Year" %><br>
    <%= f.text_field :remodel_year %>
  </div>

  <div>
    <%= f.label :gross_bldg_area, "Gross Building Area" %><br>
    <%= f.text_field :gross_bldg_area %>
  </div>

  <div>
    <%= f.label :foundation_area, "Foundation Area" %><br>
    <%= f.text_field :foundation_area %>
  </div>

  <div>
    <%= f.label :num_stories, "Number of Stories" %><br>
    <%= f.text_field :num_stories %>
  </div>

  <div>
    <%= f.label :net_lease_area, "Net Lease Area" %><br>
    <%= f.text_field :net_lease_area %>
  </div>

  <div>
    <%= f.label :bldg_class, "Building Class" %><br>
    <%= f.text_field :bldg_class %>
  </div>

  <div>
    <%= f.label :business_park, "Business Park" %><br>
    <%= f.text_field :business_park %>
  </div>

  <div>
    <%= f.label :submarket, "Submarket" %><br>
    <%= f.text_field :submarket %>
  </div>

  <div>
    <%= f.label :landlord_broker_company, "Landlord Broker Company" %><br>
    <%= f.text_field :landlord_broker_company %>
  </div>

  <div>
    <%= f.label :bldg_owner, "Building Owner" %><br>
    <%= f.text_field :bldg_owner %>
  </div>

  <div>
    <%= f.label :property_manager, "Property Manager" %><br>
    <%= f.text_field :property_manager %>
  </div>

  <div>
    <%= f.label :quoted_rate, "Quoted Rate" %><br>
    <%= f.text_field :quoted_rate %>
  </div>

    <div>
    <%= f.label :nnn, "NNN" %><br>
    <%= f.text_field :nnn %>
  </div>

    <div>
    <%= f.label :electric, "Electric" %><br>
    <%= f.text_field :electric %>
  </div>

<br>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>