<h1>All Properties</h1>
<%= link_to 'New Property', new_property_path %>
<br><br>
<%=link_to 'Export to CSV', properties_path(format: 'csv')%>
<br><br>
<%= form_tag import_properties_path, multipart: true do%>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import CSV'%>
<% end %>
<br><br>
<%= form_tag properties_path, :method => "get" do %>
<%= label_tag(:search, "Search by Property Name:") %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag("Search", :name => nil) %>
<%end%>
<br><br>
<%# might need to create tables for filter categories %>
<%= form_tag properties_path, :method => "get" do %>
<%= label_tag(:filter_sub, "Filter by Submarket:") %>
<%= collection_select :property, :submarket, Property.all, :submarket, :submarket %>
<%= submit_tag("Filter", :name => nil) %>
<%end%>
<br><br>
<ul>
<% @properties.each do |property| %>
  <li><strong>Name:</strong> <%= property.property_name %> <br><strong>Street:</strong> <%= property.street %> <br><strong>Submarket:</strong> <%= property.submarket %> <br><strong>Class:</strong> <%= property.bldg_class %> <br>   <%= link_to "Show", property_path(property.id) %>  </li>
<% end %>
</ul>