<h1>All Properties</h1>
<%= link_to 'New Property', new_property_path %>
<br><br>
<%=link_to 'Export to CSV', properties_path(format: 'csv')%>
<br><br>
<%= form_tag import_properties_path, multipart: true do%>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import CSV'%>
<% end %>
<br><br>
<ul>
<% @properties.each do |property| %>
  <li> <%= property.property_name %> <%= link_to "Show", property_path(property.id) %>  </li>
<% end %>
</ul>