<h1>All Leases</h1>

<%= link_to 'New Lease', new_lease_path %>
<br><br>
<%=link_to 'Export to CSV', leases_path(format: 'csv')%>
<br><br>
<%= form_tag import_leases_path, multipart: true do%>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import CSV'%>
<% end %>
<br><br>
<%= form_tag leases_path, :method => "get" do %>
<%= label_tag(:search, "Search by Tenant Name:") %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag("Search", :name => nil) %>
<%end%>
<br><br>
<ul>
<% @leases.each do |lease| %>
  <li><strong>Tenant:</strong><%= lease.tenant %><br>
  <li><strong>Bldg:</strong><%= lease.property.property_name %><br>
  <li><strong>Term:</strong><%= lease.term %><br>
  <li><strong>Com. Date:</strong><%= lease.commencement_date %><br>
  <li><strong>FY Rent:</strong><%= lease.fy_rent %><br>
  <li><strong>Rent Type:</strong><%= lease.rent_type %><br>
  <li><strong>Escalation:</strong><%= lease.escalation %><br>
  <li><strong>Free Rent:</strong><%= lease.free_rent %><br>
  <li><strong>TI per SQFT:</strong><%= lease.ti_psf %><br>
  <li><strong>Lease Size:</strong><%= lease.lease_size %><br>
   <%= link_to "Show", lease_path(lease.id) %>  </li>
<% end %>
</ul>